:root {
    --font-color: #333333;
    --link-color: #1C75B9;
    --link-white-color: #fff;
    --bg-color: #fafafa;
    --jumbo: rgb(233, 236, 239);
    --gray: #fafafa;
    --borgray: #dddddd;
    --muted: #6c757d;
    --hover: rgb(0, 128, 200);
    --form: rgb(250, 250, 250);
    --black: rgb(0, 0, 0);
    --white: white;
    --modal: white;
    transition: background 0.2s linear;
}

[data-theme="dark"] {
    --font-color: white;
    --link-color: #0a86da;
    --link-white-color: white;
    --bg-color: #212121;
    --jumbo: #414141;
    --gray: #414141;
    --borgray: #414141;
    --muted: rgb(200, 200, 200);
    --hover: rgb(0, 128, 200);
    --form: rgb(245, 245, 245);
    --black: rgb(0, 0, 0);
    --white: white;
    --modal: #414141;
    transition: background 0.2s linear;
}

span {
    font-family: sans-serif !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

body {
    color: #333333;
    color: var(--font-color) !important;
    background: #fafafa;
    background: var(--bg-color) !important;
    margin-top: 5rem;
}

.bg-steel {
    background: #5f788a;
    background: var();
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.jumbotron {
    background-color: var(--jumbo) !important;
}

.content-section {
    background: #ffffff;
    color: var(--font-color) !important;
    background: var(--gray) !important;
    padding: 20px 15px 15px 20px;
    border: 1px solid #dddddd;
    border: 1px solid var(--borgray) !important;
    border-radius: 10px;
    margin-bottom: 20px;
}

.figure,
.cards {
    background: var(--gray) !important;
}

.modal-content {
    background: var(--modal) !important;
    border: 1px solid white !important;
}

#x_symbol {
    color: var(--font-color) !important;
}

.article-title {
    color: var(--font-color) !important;
    color: #444444;
}

.article-title:hover {
    color: #428bca;
    color: var(--hover) !important;
}

.article-content {
    white-space: pre-line;
}

.img-cont {
    width: 40px;
    margin-right: 10px;
}

.article-img {
    width: 100%;
}

.img-thumbnail {
    background-color: var(--gray) !important;
    border: 1px solid var(--gray) !important;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-data {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-top: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    color: var(--font-color) !important;
    text-decoration: none;
}

.article-metadata h5:hover {
    color: #333;
    color: var(--font-color) !important;
    text-decoration: none;
}

.article-metadata p:hover {
    color: #333;
    color: var(--font-color) !important;
    text-decoration: none;
}

.text-secondary,
.text-muted {
    color: var(--muted) !important;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    width: 150px;
    margin-bottom: 15px;
}

.account-heading {
    font-size: 2.5rem;
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1s ease;
}

.inner:hover img {
    transform: scale(1.25);
}

.borders {
    margin-top: 3rem;
    margin-left: 3rem;
}

.checkbox,
.checkbox2 {
    opacity: 0;
    position: absolute;
}

.label_check {
    background-color: #111;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    border-radius: 50px;
    border-bottom: 0;
    height: 26px;
    width: 50px;
    padding: 5px;
    transform: scale(1.5);
}

.label_div {
    margin-left: 13px;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.ball {
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    transition: transform 0.2s linear;
}

.checkbox:checked+.label_check .ball {
    transform: translateX(24px);
}

.float-middle {
    display: inline-block;
}

#regForm {
    background: #ffffff;
    background: var(--gray) !important;
    margin: auto;
    padding: 20px;
}

.custom-select,
.form-control {
    background-color: var(--form) !important;
}


/* Style the input fields */


/* Mark input boxes that gets an error on validation: */

input.invalid {
    background: #ffdddd;
}


/* Hide all steps by default: */

.tab {
    display: none;
}


/* Make circles that indicate the steps of the form: */

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}


/* Mark the active step: */

.step.active {
    opacity: 1;
}


/* Mark the steps that are finished and valid: */

.step.finish {
    background: #007bff;
}

@media screen and (max-width: 560px) {
    .small_pic {
        float: none !important;
        width: 100% !important;
        height: 100% !important;
    }
    .centrado {
        text-align: center !important;
    }
    .media-body {
        flex: auto !important;
    }
    .img-cont {
        color: var(--font-color) !important;
        background: var(--bg-color) !important;
        margin-right: 4px;
        width: 85%;
    }
    .account-img {
        height: 100%;
    }
    .borders {
        margin-top: 2rem !important;
        margin-left: 1.5rem !important;
    }
    h2 {
        font-size: 1.75rem !important;
    }
    .boton {
        padding: .25rem .5rem !important;
        font-size: .875rem !important;
        line-height: 1.5 !important;
        border-radius: .2rem !important;
    }
    .label_div {
        margin-top: 6px;
        margin-bottom: 4px;
    }
}