{% extends "base.html" %}
<!-- extended from -->
{% block body %}
<div class="content-section">
    <div class="d-flex justify-content-start flex_article mb-3">
        <a class="btn btn-secondary mt-2 mb-2 btn-block w-25 block_button" href="{{url_for('main.home')}}"><i class="fas fa-home"></i> Home</a>
    </div>
    <div class="media">
        <img class="account-img inner" src="{{ current_user.image_file }}">
        <div class="media-body borders">
            <h2 class="account-heading">{{ current_user.username }}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
        </div>
    </div>
    <!-- FORM GOES HERE -->
    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Account info</legend>
            <div class="form-group">
                <!-- label -->
                {{ form.username.label(class="form-control-label") }}
                <!-- start error if -->
                {% if form.username.errors %}
                <!-- start if -->
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <!-- start for -->
                    <span>{{ error }}</span>
                    <!-- endif -->
                    {% endfor %}
                </div>
                {% else %}
                <!-- start else -->
                {{ form.username(class="form-control form-control-lg") }}
                <!-- endif -->
                {% endif %}
            </div>
            <div class="form-group">
                <!-- label -->
                {{ form.email.label(class="form-control-label") }}
                <!-- start error if -->
                {% if form.email.errors %}
                <!-- start if -->
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <!-- start for -->
                    <span>{{ error }}</span>
                    <!-- endif -->
                    {% endfor %}
                </div>
                {% else %}
                <!-- start else -->
                {{ form.email(class="form-control form-control-lg") }}
                <!-- endif -->
                {% endif %}
            </div>
            <div class="form-group">
                <!-- label -->
                {{ form.picture_link.label(class="form-control-label") }}
                <!-- start error if -->
                {% if form.picture_link.errors %}
                <!-- start if -->
                {{ form.picture_link(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.picture_link.errors %}
                    <!-- start for -->
                    <span>{{ error }}</span>
                    <!-- endif -->
                    {% endfor %}
                </div>
                {% else %}
                <!-- start else -->
                {{ form.picture_link(class="form-control form-control-lg") }}
                <!-- endif -->
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group d-flex justify-content-between flex_article">
            <button type="button" class="btn btn-danger m-1 boton btn-block mr-4 block_button" data-toggle="modal" data-target="#deleteModal">Delete Account <i class="fas fa-trash"></i></button>
            <!-- submit form -->
            {{ form.submit(class="btn btn-info m-1 boton btn-block ml-4 block_button")}}
        </div>
    </form>
    <!-- start modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete account?</h5>
                    <button id="x_symbol" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <p class="lead">This can't be unmade, are you sure you wanna proceed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{url_for('users.delete_account', user_id=current_user.id)}}" method="POST">
                        <input class="btn btn-danger float-right" type="submit" value="Delete account">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- endblock -->
{% endblock body %}