{% extends "base.html" %}
<!-- extended from -->
{% block body %}
<!-- block start -->

<div class="d-flex justify-content-between flex_article">
    <a class="btn btn-secondary mr-4 mt-2 mb-2 btn-block block_button " href="{{url_for('main.home')}}"><i class="fas fa-home"></i> Home</a>
    <a class="btn btn-primary m-2 btn-block block_button " href="{{url_for('main.gallery')}}">Gallery <i class="fas fa-images"></i></a>
    <!-- start if -->
    {% if current_user.is_authenticated %}
    <a class=" btn btn-success ml-4 mt-2 mb-2 btn-block block_button " href="{{url_for('champions.newpost')}}">New Entry <i class="fas fa-plus-square"></i></a>
    <!-- endif -->
    {% endif %}
</div>
<div class="text-center mb-4">
    <h1>Champions List:</h1>
</div>
<!-- for starts -->
{% for post in posts.items %}
<article class="media content-section mb-4">
    <div class="d-flex justify-content-between flex_article">
        <div class="media-body">
            <div class="article-metadata d-flex">
                <figure class="img-cont mb-3">
                    <img class="article-img img-cont" src="{{ post.author.image_file }}" alt="post.author.username">
                </figure>
                <article class="mt-2">
                    <a class="mr-2" href="{{ url_for( 'users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                    <br/>
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </article>
            </div>
            <div class="text-center">
                <h2><a class="article-title" href="{{ url_for( 'main.full_article', champion_id=post.id) }} ">{{ post.name }}</a></h2>
            </div>
            <div class="text-center">
                <img class="w-75 img-thumbnail small_pic shadow" src="{{post.portait}} " alt="{{post.name}} ">
            </div>
            <div class="article-metadata text-center">
                <h5><a class="article-title text-muted " href="{{url_for( 'main.full_article', champion_id=post.id)}} "><em>{{ post.title }}</em></a></h5>
            </div>
            <div class="article-metadata">
                <h5 class="article-content">Role:</h5>
                <ul>
                    <li>
                        <p class="article-content lead">{{ post.role }}</p>
                    </li>
                </ul>
            </div>
            <div class="article-metadata">
                <h5 class="article-content">Summary: </h5>
                <ul>
                    <li>
                        <p class="article-content lead">{{ post.summary }}</p>
                    </li>
                </ul>
            </div>
            <div class="article-metadata">
                <small class="text-muted">To check the full article, click the Champion's name</small>
            </div>
        </div>
    </div>
</article>
<!-- endfor /champions/{{ post.id }}-->
{% endfor %}
<!-- for starts -->
<div class="text-center ">
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    <!-- for -->
    {% if page_num %}
    <!-- 2nd for -->
    {% if posts.page == page_num %}
    <a class="btn btn-secondary mb-4 " href="{{url_for( 'main.championslist', page=page_num)}} ">{{page_num}}</a>
    <!-- else -->
    {% else %}
    <a class="btn btn-outline-secondary mb-4 " href="{{url_for( 'main.championslist', page=page_num)}} ">{{page_num}}</a>
    <!-- endif -->
    {% endif %}
    <!-- else -->
    {% else %}
    <!-- else -->
    ...
    <!-- endif -->
    {% endif %}
    <!-- endfor -->
    {% endfor %}
</div>
<!-- end block -->
{% endblock body %}