{% extends "base.html" %}
<!-- extended from -->
{% block body %}

<div class="d-flex justify-content-between mb-3 flex_article">
    <a class="btn btn-secondary ml-1 mt-2 mb-2 pl-3 pr-3 btn-block w-25 block_button" href="{{url_for('main.gallery')}}"><i class="fas fa-images"></i> Gallery</a>
</div>

<div class="row row-cols-2">
    <div class="col-md-12 shadow">
        <figure class="figure">
            <div>
                <figcaption class="figure-caption text-center mt-2 mb-2">{{pics.champion_name}}</figcaption>
            </div>
            <img src="{{pics.img_file}}" class="figure-img w-100" alt="{{pics.champion_name}}">
            <!-- if -->
            {% if current_user.is_authenticated %}
            <div class="d-flex justify-content-around flex_article">
                <button type="button" class="btn btn-danger m-1 mb-3 btn-block w-75 block_button" data-toggle="modal" data-target="#deleteModal">Delete Picture <i class="fas fa-trash"></i></button>
            </div>
            <!-- start end -->
            {% endif %}
            <!-- end if -->
        </figure>

    </div>
</div>
<hr/>
<!-- start modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Picture?</h5>
                <button id="x_symbol" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="lead">This can't be unmade, are you sure you wanna proceed?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{url_for('champions.delete_picture', picture_id=pics.id)}}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end -->
{% endblock%}>