{% extends "base.html" %}
<!-- extended from -->
{% block body %}
<div class="jumbotron text-center">
    <h1 class="display-6">Welcome to the wiki!</h1>
    <p class="lead"></p>
</div>
<hr>
<div class="container-sm">
    <div class="card mb-3 shadow">
        <div class="inner">
            <img class="card-img-top img-fluid" src="https://pbs.twimg.com/media/DNHWvGkW4AEcaMb.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Our Champions list</h5>
            <p class="card-text"></p>
            <a href="{{url_for('main.championslist')}}" class="btn btn-primary btn-sm">Check it out</a>
        </div>
    </div>
    <div class="card mb-3 shadow">
        <div class="inner">
            <img class="card-img-top img-fluid" src="https://wallpapercave.com/wp/wp1912718.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
            <!-- start if -->
            {% if current_user.is_authenticated %}
            <h5 class="card-title">Help the wiki to grow!</h5>
            <a href="{{url_for('champions.newpost')}}" class="btn btn-primary btn-sm">Add a new entry</a>
            <hr/>
            <h5 class="card-text">Upload a picture for our champions!</h5>
            <a href="{{url_for('champions.upload_picture')}}" class="btn btn-primary btn-sm">Upload a new picture</a>
            <!-- else -->
            {% else %}
            <h5 class="card-title">Would like to help the wiki grow?</h5>
            <a href="{{url_for('users.register')}}" class="btn btn-primary btn-sm">Register now!</a>
            <!-- endif -->
            {% endif %}
        </div>
    </div>
    <div class="card mb-3 shadow">
        <div class="inner">
            <img class="card-img-top img-fluid" src="https://i.pinimg.com/originals/42/df/d6/42dfd6b0477a872a54ae19db8af32177.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Want to see some art?</h5>
            <p class="card-text"></p>
            <a href="{{url_for('main.gallery')}}" class="btn btn-primary btn-sm">Check out the gallery</a>
        </div>
    </div>
</div>
<!-- end block -->
{% endblock body %}