{% extends "base.html" %}
<!-- extended from -->
{% block body %}
<div class="content-section">
    <div class="d-flex justify-content-between flex_article">
        <a class="btn btn-secondary mt-1 mb-2 btn-block w-25 block_button" href="{{url_for('main.home')}}"><i class="fas fa-home"></i> Home</a>
    </div>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Willing to help? Join us!</legend>
            <div class="form-group">
                <!-- label -->
                {{ form.username.label(class="form-control-label") }}
                <!-- start error if -->
                {% if form.username.errors %}
                <!-- start if -->
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <!-- start for -->
                    <span>{{ error }}</span>
                    <!-- endif -->
                    {% endfor %}
                </div>
                {% else %}
                <!-- start else -->
                {{ form.username(class="form-control form-control-lg") }}
                <!-- endif -->
                {% endif %}
            </div>
            <div class="form-group">
                <!-- label -->
                {{ form.email.label(class="form-control-label") }}
                <!-- start error if -->
                {% if form.email.errors %}
                <!-- start if -->
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <!-- start for -->
                    <span>{{ error }}</span>
                    <!-- endif -->
                    {% endfor %}
                </div>
                {% else %}
                <!-- start else -->
                {{ form.email(class="form-control form-control-lg") }}
                <!-- endif -->
                {% endif %}
            </div>
            <div class="form-group">
                <!-- label -->
                {{ form.password.label(class="form-control-label") }}
                <!-- start error if -->
                {% if form.password.errors %}
                <!-- start if -->
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <!-- start for -->
                    <span>{{ error }}</span>
                    <!-- endif -->
                    {% endfor %}
                </div>
                {% else %}
                <!-- start else -->
                {{ form.password(class="form-control form-control-lg") }}
                <!-- endif -->
                {% endif %}
            </div>
            <div class="form-group">
                <!-- label -->
                {{ form.confirm_password.label(class="form-control-label") }}
                <!-- start error if -->
                {% if form.confirm_password.errors %}
                <!-- start if -->
                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <!-- start for -->
                    <span>{{ error }}</span>
                    <!-- endif -->
                    {% endfor %}
                </div>
                {% else %}
                <!-- start else -->
                {{ form.confirm_password(class="form-control form-control-lg") }}
                <!-- endif -->
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group d-flex justify-content-around flex_article">
            {{ form.submit(class="btn btn-info btn-block w-50 block_button") }}
        </div>
    </form>
</div>
<div class="border-top pt-3 mb-3">
    <small class="text-muted">
    Already registered?:
    <a class="btn btn-link mb-1" href="{{ url_for('users.login') }}">Log in</a>
  </small>
</div>
{% endblock body %}