{% extends "base.html" %}
<!-- extended from -->
{% block body %}
<div class="content-section">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset Password</legend>
            <div class="form-group">
                <!-- label -->
                {{ form.password.label(class="form-control-label") }}
                <!-- start error if -->
                {% if form.password.errors %}
                <!-- start if -->
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <!-- start for -->
                    <span>{{ error }}</span>
                    <!-- endif -->
                    {% endfor %}
                </div>
                {% else %}
                <!-- start else -->
                {{ form.password(class="form-control form-control-lg") }}
                <!-- endif -->
                {% endif %}
            </div>
            <div class="form-group">
                <!-- label -->
                {{ form.confirm_password.label(class="form-control-label") }}
                <!-- start error if -->
                {% if form.confirm_password.errors %}
                <!-- start if -->
                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <!-- start for -->
                    <span>{{ error }}</span>
                    <!-- endif -->
                    {% endfor %}
                </div>
                {% else %}
                <!-- start else -->
                {{ form.confirm_password(class="form-control form-control-lg") }}
                <!-- endif -->
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-info") }}
        </div>
    </form>
</div>
{% endblock body %}