@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?f5elx5');
    src: url('fonts/icomoon.eot?f5elx5#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?f5elx5') format('truetype'), url('fonts/icomoon.woff?f5elx5') format('woff'), url('fonts/icomoon.svg?f5elx5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-moon1::before {
    content: "\e901";
}

.icon-moon::before {
    content: "\e900";
}